@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --color-1: #b2b2b1;
  --color-2: #ffffff;
  --color-2-transparent: rgba(255, 255, 255, 0.5);
  --color-3: #e5007d;
  --color-4: #0d1a29;
  --color-4-transparent: #0d1a29aa;
  --color-1-dark: #80807d;
  --color-2-dark: #b5b5b5;
  --color-2-dark-tranparent: rgba(255, 255, 255, 0.05);
  --color-3-dark: #a3005a;
  --color-4-dark: #0a131e;
  --color-4-dark-transparent: #0a131e44;
  --color-1-lite: #b3b3b3;
  --color-2-lite: #d3d3d3;
  --color-2-lite-transparent: rgba(255, 255, 255, 0.7);
  --color-3-lite: #d5599b;
  --color-4-lite: #4e7097;
  --font: "Open Sans", sans-serif
  --font-h: "Roboto", sans-serif
}

body {
  font-family: var(--font);
  overflow-x: hidden;
  background-color: var(--color-background);
  font-size: 15px; 
}

a { color: var(--color-4-dark); }
a:hover { color: var(--color-4-lite); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font)
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
  font-family: var(--font-h);
  font-weight: 500 !important; }

h3,
h4,
h5 {
  text-transform: uppercase;
}

p {
  font-size: 15px;
  line-height: 1.6; }

a,
a:hover,
a:focus,
button,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important; }

::selection {
  background: var(--color-3-lite) }

::-moz-selection {
  background: var(--color-3-lite) }

.back_top {
  text-align: center;
  position: fixed;
  bottom: 15px;
  height: 35px;
  width: 35px;
  background: var(--color-4);
  display: none;
  z-index: 10000;
  border-radius: 3px;
  right: 20px;
  transition: all 0.5s; }
  .back_top i {
    color: #ffffff;
    line-height: 35px;
    font-size: 32px;
    display: block; }

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  z-index: 9999; }
  .loader-wrapper .loader {
    height: 1px;
    background: var(--color-3-lite);
    position: absolute;
    z-index: 9999; }

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-color: var(--color-2); }

.section_title .section_title_border .f-border {
  width: 3px;
  display: inline-block;
  height: 2px;
  position: relative;
  top: -4px;
  background-color: var(--color-4-dark); }
.section_title .section_title_border .s-border {
  width: 14px;
  display: inline-block;
  height: 2px;
  position: relative;
  top: -4px;
  background-color:  var(--color-4-dark) ; }
.section_title h3 {
  font-size: 28px;}
.section_title .sec_subtitle {
  max-width: 500px;
  font-size: 15px;
  line-height: 1.6; }

.bg-overlay-gradient {
  background: linear-gradient(to right, var(--color-4-lite), var(--color-4-dark));
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.bg-gradient {
  background: linear-gradient(to right, var(--color-4-lite), var(--color-4-dark)); }

.h-100vh {
  height: 100vh; }

.z-index {
  z-index: 1000; }

.over_margin {
  margin: 20px; }

.bg-overlay {
  background: var(--color-4-transparent);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row; }

.bg-dark {
  background-color: var(--color-4); }

.bg-custom {
  background-color: var(--color-3); }

.text-muted {
  color: var(--color-1-dark) !important; }

.text-dark {
  color: var(--color-4-dark) !important; }

.text-custom {
  color: var(--color-3) !important; }

.text-custom-blue {
  color: var(--color-3-dark); }

.btn {
  padding: 12px 28px; }

.btn-sm {
  padding: 8px 15px; }

.btn-rounded {
  border-radius: 30px !important; }

.btn-custom {
  background-color: var(--color-3);
  border: 2px solid var(--color-3);
  color: #fff;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 0px;
  letter-spacing: 1px;
  text-transform: capitalize; }
  .btn-custom:hover {
    background:var(--color-3);
    border-color: var(--color-3) !important;
    color: #ffffff !important; }
  .btn-custom:active {
    background: var(--color-3);
    border-color:var(--color-3)a !important;
    color: #ffffff !important; }
  .btn-custom:focus {
    background: var(--color-3);
    border-color: var(--color-3) !important;
    color: #ffffff !important; }
  .btn-custom.active {
    background: var(--color-3);
    border-color: var(--color-3) !important;
    color: #ffffff !important; }
  .btn-custom.focus {
    background: var(--color-3);
    border-color: var(--color-3) !important;
    color: #ffffff !important; }

.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 0px;
  letter-spacing: 1px;
  text-transform: capitalize; }
  .btn-white:hover {
    background: #ececec;
    border-color: #ececec !important;
    color: #000000 !important; }
  .btn-white:active {
    background: #ececec;
    border-color: #ececec !important;
    color: #000000 !important; }
  .btn-white:focus {
    background: #ececec;
    border-color: #ececec !important;
    color: #000000 !important; }
  .btn-white.active {
    background: #ececec;
    border-color: #ececec !important;
    color: #000000 !important; }
  .btn-white.focus {
    background: #ececec;
    border-color: #ececec !important;
    color: #000000 !important; }

.btn-outline-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.5s;
  border-radius: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize; }
  .btn-outline-white:hover {
    background: #ffffff;
    border-color: #ffffff !important;
    color: #000000 !important; }
  .btn-outline-white:active {
    background: #ffffff;
    border-color: #ffffff !important;
    color: #000000 !important; }
  .btn-outline-white:focus {
    background: #ffffff;
    border-color: #ffffff !important;
    color: #000000 !important; }
  .btn-outline-white.active {
    background: #ffffff;
    border-color: #ffffff !important;
    color: #000000 !important; }
  .btn-outline-white.focus {
    background: #ffffff;
    border-color: #ffffff !important;
    color: #000000 !important; }

.btn-gradient {
  background: #var(--color-3);
  background: -webkit-linear-gradient(to right, var(--color-3-dark), var(--color-3));
  background: linear-gradient(to right, var(--color-3-dark), var(--color-3));
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: capitalize; }
  .btn-gradient:hover {
    background: linear-gradient(to right,var(--color-3-dark), var(--color-3));
    transition: all 0.5s; }
  .btn-gradient:active {
    background: linear-gradient(to right, var(--color-3-dark), var(--color-3));
    transition: all 0.5s; }
  .btn-gradient:focus {
    background: linear-gradient(to right, var(--color-3-dark), var(--color-3));
    transition: all 0.5s; }
  .btn-gradient.active {
    background: linear-gradient(to right, var(--color-3-dark), var(--color-3));
    transition: all 0.5s; }
  .btn-gradient.focus {
    background: linear-gradient(to right, var(--color-3-dark), var(--color-3));
    transition: all 0.5s; }

.custom-nav.stickyadd .btn-outline-white {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 0px;
  letter-spacing: 1px;
  text-transform: capitalize; }
  .custom-nav.stickyadd .btn-outline-white:hover {
    background: #000000;
    border-color: #000000 !important;
    color: #ffffff !important; }
  .custom-nav.stickyadd .btn-outline-white:active {
    background: #000000;
    border-color: #000000 !important;
    color: #ffffff !important; }
  .custom-nav.stickyadd .btn-outline-white:focus {
    background: #000000;
    border-color: #000000 !important;
    color: #ffffff !important; }
  .custom-nav.stickyadd .btn-outline-white.active {
    background: #000000;
    border-color: #000000 !important;
    color: #ffffff !important; }
  .custom-nav.stickyadd .btn-outline-white.focus {
    background: #000000;
    border-color: #000000 !important;
    color: #ffffff !important; }

.custom-nav {
  padding: 16px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  background-color: transparent; }
  .custom-nav .container-fluid {
    width: 90%; }
    .custom-nav .container-fluid .logo {
      padding-top: 0px; }
      .custom-nav .container-fluid .logo .logo-light {
        display: inline-block; }
      .custom-nav .container-fluid .logo .logo-dark {
        display: none; }
    .custom-nav .container-fluid .navbar-nav li a {
      color: var(--color-2-transparent);
      font-size: 16px;
      background-color: transparent !important;
      padding: 7px 0 !important;
      position: relative;
      margin: 0 12px;
      transition: all 0.4s; }
    .custom-nav .container-fluid .navbar-nav li.active a {
      color: var(--color-2); }
    .custom-nav .container-fluid .navbar-nav li:hover a {
      color: var(--color-2); }
    .custom-nav .container-fluid .navbar-nav li:active a {
      color: var(--color-2); }
    .custom-nav .container-fluid .navbar-toggler {
      font-size: 28px;
      margin-top: 2px;
      margin-bottom: 0px;
      color: #000000; }
    .custom-nav .container-fluid .navbar-brand.logo img {
      height: 28px; }
    .custom-nav .container-fluid .navbar-text i {
      font-size: 18px !important;
      position: relative;
      top: 3px; }
    .custom-nav .container-fluid .navbar-text {
      color: #fff; }

.custom-nav.stickyadd {
  background-color: #ffffff;
  top: 0px;
  box-shadow: 0px 0px 18px 1px var(--color-4-transparent); }
  .custom-nav.stickyadd .navbar-nav li a {
    color: var(--color-4-transparent); }
  .custom-nav.stickyadd .navbar-nav li.active a {
    color: #5d59eb; }
  .custom-nav.stickyadd .navbar-nav li:hover a {
    color: #5d59eb; }
  .custom-nav.stickyadd .navbar-nav li:active a {
    color: #5d59eb; }
  .custom-nav.stickyadd .logo .logo-dark {
    display: inline-block; }
  .custom-nav.stickyadd .logo .logo-light {
    display: none; }
  .custom-nav.stickyadd .navbar-text {
    color: #000; }

.home-bg {
  background-image: url("../images/graffiti.jpg");

  padding: 180px 0 180px;

}

.iparallax {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.home-table {
  display: table;
  width: 100%;
  height: 100%; }
  .home-table .home-table-center {
    display: table-cell;
    vertical-align: middle; }
    .home-table .home-table-center .header_title {
      font-size: 46px;
      line-height: 1.4;
      max-width: 850px;
      text-transform: uppercase; 
      background-color: var(--color-4);
      filter: url('#goo');
      display: inline;
      -webkit-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.5rem 0.6rem;
      }
    .home-table .home-table-center .small_title {
      padding: 1rem 0rem;
    }
    .home-table .home-table-center .small_title .home_line {
      height: 2px;
      width: 44px;
      display: inline-block;
      background-color: var(--color-3);
      position: relative;
      top: -6px; }
    .home-table .home-table-center .small_title p {
      font-size: 18px;
      display: inline-block;
      color: var(--color-2-transparent); 
    font-weight: bolder;}
    .home-table .home-table-center .header_subtitle {
      line-height: 1.8;
      max-width: 550px;
      color: var(--color-2-transparent) !important; 
      font-weight: bolder;
    }
    .home-table .home-table-center .header_logo {
      transform: translateX(-19%);
      padding-bottom: 1em;
    }
    .home-table .home-table-center .learn_more i {
      background: #fff;
      border-radius: 50px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 30px;
      display: inline-block;
      border: 1px solid var(--color-1-lite); }

/* wavify wrapper */
.wavify-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; }

.wavify-wrapper svg {
  height: 180px; }

.wavify-wrapper.top {
  top: 0; }

.wavify-wrapper.app-landing-screnshot svg {
  height: 180px; }

.wavify-wrapper.theme-two_lg svg {
  height: 550px; }

.wavify-wrapper.rotate_wavify {
  bottom: 0;
  -webkit-transform: translateY(-50%) rotateZ(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotateZ(180deg); }

.wavify-wrapper.rotate_wavify svg {
  height: 450px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .wavify-wrapper.rotate_wavify {
    -webkit-transform: translateY(-30%) rotateZ(180deg);
    -ms-transform: translateY(-30%) rotate(180deg);
    transform: translateY(-30%) rotateZ(180deg); } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wavify-wrapper.rotate_wavify {
    -webkit-transform: translateY(-100%) rotateZ(180deg);
    -ms-transform: translateY(-100%) rotate(180deg);
    transform: translateY(-100%) rotateZ(180deg); } }
@media only screen and (max-width: 767px) {
  .wavify-wrapper.rotate_wavify {
    -webkit-transform: translateY(-100%) rotateZ(180deg);
    -ms-transform: translateY(-100%) rotate(180deg);
    transform: translateY(-100%) rotateZ(180deg); } }
.wavify-wrapper.drak_hero {
  z-index: 3; }

.wavify-wrapper.drak_hero svg {
  height: 200px; }

.wavify-wrapper.wavify-lg svg {
  height: 680px; }

.about_title {
  line-height: 1.6;
  max-width: 450px; 
  text-transform: unset;}

.bg-footer {
  background: var(--color-4-dark);
  position: relative; }
  .bg-footer .fun_box {
    border: 1px solid var(--color-2-transparent); }
  .bg-footer .footer_title_border {
    background-color: var(--color-2-lite-transparent);
    height: 2px;
    width: 26px; }
  .bg-footer h6 {
    font-size: 18px; }
  .bg-footer p {
    font-size: 14px !important;
    color: var(--color-2-transparent); }
  .bg-footer .footer_menu_list li a {
    color: var(--color-2-transparent) !important;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
    transition: all 0.5s; }
    .bg-footer .footer_menu_list li a:hover {
      color: var(--color-2) !important; }
  .bg-footer .fot_social .social-icon {
    border-radius: 50%;
    background-color: var(--color-2-dark-tranparent);
    transition: all 0.5s;
    width: 38px;
    color: var(--color-2-transparent);
    height: 38px;
    display: block;
    font-size: 18px;
    line-height: 38px;
    text-align: center; }
    .bg-footer .fot_social .social-icon:hover {
      color: #fff !important; }
  .bg-footer a { color: var(--color-1); font-weight: bold;}
  .bg-footer a:hover { color: var(--color-2); }

@media (max-width: 768px) {
  .home-bg {
    padding: 110px 0 100px; }

  .home-table .home-table-center .header_title {
    font-size: 30px;
    line-height: 1.2; }
  .home-table .home-table-center .header_subtitle {
    font-size: 14px !important;
    line-height: 1.8; }
  .home-table .home-table-center .header_btn span {
    display: block; }

  .h-100vh, .home-half, .half-slider {
    height: auto;
    padding: 110px 0 80px 0 !important; }

  .section_title h3 {
    font-size: 22px; }
  .section_title .section_subtitle {
    line-height: 1.6; }

  .hide_phone {
    display: none; }
 }
@media (max-width: 991px) and (min-width: 200px) {
  .hit-arrow .hit-line {
    display: none !important; } }
@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-text, .navbar-btn {
    display: none; }

  .navbar-nav {
    margin-left: auto !important;
    margin-right: 0px !important; } }
@media (max-width: 991px) {
  .custom-nav {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: var(--color-2) !important; }
    .custom-nav > .container-fluid {
      width: 90%; }
      .custom-nav > .container-fluid .navbar-nav {
        margin-top: 0px; }
        .custom-nav > .container-fluid .navbar-nav li a {
          margin: 0 0px;
          padding: 6px 0;
          color:var(--color-2-transparent); }
        .custom-nav > .container-fluid .navbar-nav li.active a {
          color: var(--color-3); }
      .custom-nav > .container-fluid .logo {
        padding-top: 0px; }
        .custom-nav > .container-fluid .logo .logo-light {
          display: none; }
        .custom-nav > .container-fluid .logo .logo-dark {
          display: inline-block !important; }
      .custom-nav > .container-fluid .sign_btn {
        background-color: var(--color-3-lite);
        color: var(--color-3);
        display: inline-block; }
      .custom-nav > .container-fluid .log_btn {
        background-color: transparent;
        color: var(--color-4-dark);
        display: inline-block; }
      .custom-nav > .container-fluid .navbar-text {
        color: var(--color-4-dark); }

  .custom-nav .btn-outline-white {
    background-color: transparent;
    border: 1px solid var(--color-4-dark);
    color: var(--color-4-dark);
    font-size: 15px;
    transition: all 0.5s;
    border-radius: 0px;
    letter-spacing: 1px;
    text-transform: capitalize; }
    .custom-nav .btn-outline-white:hover {
      background: var(--color-4-dark);
      border-color: var(--color-4-dark) !important;
      color: var(--color-1) !important; }
    .custom-nav .btn-outline-white:active {
      background: var(--color-4-dark);
      border-color: var(--color-4-dark) !important;
      color: var(--color-1) !important; }
    .custom-nav .btn-outline-white:focus {
      background: var(--color-4-dark);
      border-color: var(--color-4-dark) !important;
      color: var(--color-1) !important; }
    .custom-nav .btn-outline-white.active {
      background: var(--color-4-dark);
      border-color: var(--color-4-dark) !important;
      color: var(--color-1) !important; }
    .custom-nav .btn-outline-white.focus {
      background: var(--color-4-dark);
      border-color: var(--color-4-dark) !important;
      color: var(--color-1) !important; }

  .custom-nav.stickyadd .navbar-text {
    color: var(--color-4-dark); } }
.home-half {
  padding: 145px 0px; }

.bg-home-slider {
  position: relative; }
  .bg-home-slider .carousel-control-next,
  .bg-home-slider .carousel-control-prev {
    width: 6%; }
    .bg-home-slider .carousel-control-next span,
    .bg-home-slider .carousel-control-prev span {
      font-size: 50px; }
  .bg-home-slider .carousel, .bg-home-slider .carousel-item {
    width: 100%; }
  .bg-home-slider .carousel-item {
    background-position: center center !important;
    background-size: cover !important; }
    .vcenter-item{
      display: flex;
      align-items: center;
  }

